@import "../../themes/light/common";

.progress {
	width: 100%;
	max-width: em(480);
	padding: em(40) em(24) em(24);
	display: flex;
	flex-direction: column;
	background: $grey-light;
	border-radius: em(8);

	&__bar {
		display: block;
		width: 100%;
		height: 50px;
		margin: 0 0 em(40) 0;
		padding-right: em(24);
		cursor: pointer;
		position: relative;
		&:before {
			content: '';
			display: block;
			background-color: $secondary;
			@include position-absolute(0, em(-8), 0, auto);
			margin: auto;
			width: em(16);
			height: em(16);
			border-radius: 50%;
			opacity: 0;
			transition: opacity 0.25s ease-in-out;
		}

		&-outer {
			display: flex;
			height: em(50);
			position: relative;
			width: 100%;
			border-radius: em(8);
			overflow: hidden;
			background-color: $white;
			transition: background-color 0.25s ease-in-out;
			will-change: background-color;
			justify-content: center;
			align-items: center;
		}

		&-inner {
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $green;
			transition: background-color 0.25s ease-in-out,
				transform 0.5s ease-in-out;
			transform-origin: top left;
			transform: scaleX(0);
			will-change: background-color;
		}

		&-label {
			font-family: $font-heading;
			position: relative;
			z-index: 1;
		}

		&-legend {
			position: absolute;
			bottom: rem(-28);
			right: rem(24);
			width: rem(100);
			height: rem(24);
			line-height: rem(24);
			font-size: em(12);
			text-align: right;
		}

		&:hover {
			.progress__bar-outer {
				background-color: rgba($white, 0.5);
			}

			.progress__bar-inner {
				background-color: lighten($green, 4%);
			}
		}

		&--active {
			&:before {
				opacity: 1;
			}

			.progress__bar-inner {
				background-color: darken($green, 8%);
			}

			&:hover {
				.progress__bar-inner {
					background-color: darken($green, 12%);
				}
			}
		}

		&--over {
			.progress__bar-inner {
				background-color: $secondary;
			}
		}
	}

	&__controls {
		padding: 0;
		margin-right: em(24);
		display: flex;
		height: em(40);
		flex-direction: row;
	}

	&__button {
		height: 100%;
		flex-grow: 1;
		margin: 0 em(8);

		&:hover {
			background-color: rgba($primary, 0.8);
		}

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
